<div class="mainCont">
<h2>We appreciate your feedback. Your book will be delivered ASAP!</h2>
<br>
<br><div class="mainCont">  
                    <%= render 'layouts/search' %>
                    </div>
<br>
<br>
<a href= "/" class="button"> Home </a>

</div>