<% provide(:title, "Help") %>


        <div class="logo">
        <h1>Need some<br> Help?</h1>
        </div>




        <div class="cta">

        <p>Take a gander to your right to find some of the most frequently asked questions. </p>
        <p>If you have any queries don't hesitate to let us know, click the button <strong>below</strong> to head straight to our contact page.</p>
        <a href="contact.html" class="button">Need Help?</a>

        </div>