
      <div class="logo">

        <h1>Diplodocus <br> Books.</h1>

      </div>




    <div class="cta">

        <p>We create custom hand-bound books, sourcing materials from around the Globe.</p>
        <p>Don't waste time! Get your <strong>FREE</strong> limited edition custom hand-bound book. All you have to do is <strong>say hi.</strong></p>
       
        <a href="contact.html" class="button">Get Yours</a>

    </div>





    <div id="sliderFrame">
      <div id="slider">
        
    <!--    This section will hold images for the carosel -->
            <img src="images/ergev.png" alt="Welcome to our online store" /></a>
            <img src="images/book002.png" height="320" width="520" />
            <img src="images/book003.png" height="320" width="520" />
            <img src="images/book005.png" height="320" width="520" />
            <img src="images/book010.png" height="320" width="520"/>
       </div>
            <div id="htmlcaption" style="display: none;">
      
            </div>
      


    </div>
    
    