



/*********************************
            GENERAL
*********************************/




body  { 
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: white;
 
}

.wrapper {
  min-height: 100%;
  position:relative;
}

.mainCont { 
  margin: auto;
  width:80%;
  padding: 7px;
  text-align: center;
}



div {
  display: block;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0px;
}

p {
  font-family: 'Roboto Condensed', Sans-Serif;
  font-size: 16px;
  font-kerning: 2px;
  line-height: 1.85;
  text-align: left;
  font-weight: 300;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

h1 {
  margin-top: 20px;
}
  
  
.button {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
}


.button2 {
    font-family: 'Roboto', sans-serif;
    background-color: #FFD14F;
    border: none;
    color: #222222;
    font-weight: 600;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
}



/*********************************
             HEADER
*********************************/


.header {
    position: relative;
    overflow: scroll;
    width: 90%;
    height: 110px;
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: 50px;
    text-align: center; 
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: #222222;
    padding:10px;
    font-size: 16px;
    box-shadow: 0 7px 6px -6px #222222;
    z-index: 100;
    border-radius: 15px 15px 1px 1px;
}



.header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    letter-spacing: .1rem;
    font-family: 'Roboto Condensed', Sans-Serif;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

}


.header a:hover {
    background-color: white;
    color: #222222;
}

.header a:visit {
    background-color: #222222;
    color: white;
}

.header a.active {
    background-color: white;
    color: #222222;
}


.header.scrolled .header_content{
    height: 70px;
}

.header.scrolled .logo a{
    font-size: 24px;
}

.header_right {
    height: 100%;
    width: 100%;
}

.header_right a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    letter-spacing: .1rem;
    font-family: 'Roboto Condensed', Sans-Serif;
    padding: 12px 10px;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}













#user_email {
    position: absolute;
    clear:both;
    right: 0;
    top:0;
    width: auto;
    height: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}


#user_email a{
    clear:both;
    width: auto;
    height: auto;
    padding: 5px 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}





/*********************************
             LOGOS
*********************************/


.logo {
    position: absolute;
    width: 43%;
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 2.2rem;
    color: #222222;
    font-weight: 700;
    text-align: left;
    padding: 25px;
    float: left;
    margin-left: 65px;
  
}

.cta {
    position: absolute;
    margin-top: 200px;
    width: 43%;
    text-align: left;
    padding: 25px;
    float: left;
    margin-left: 67px;
}


.dinosaur {
    float: right;
    margin-top: 42px;
    margin-right: 67px;
    width: auto;
}


#logoIm {
    text-align: left;
    position: absolute;
    height: 60px;
    width: 80px;
    float: left;
}







/*********************************
        YELLOW BANNERS
*********************************/


#topBanner {
  
    position: static;
    width: 100%;
    height: 444px;
    background-color: #FFD14F;
    margin-right: auto;
    margin-top: 55px;
    margin-left: auto; 
    z-index: -1;
    -webkit-box-shadow: 0px 0px 7px 0px #7f8fa6;
    -moz-box-shadow: 0px 0px 7px 0px #7f8fa6;
    box-shadow: 0px 0px 7px 0px #7f8fa6;
}



#bottomBanner {
    
    position: relative; 
    background-color: #FFD14F;
    width: 75%;
    height: 48px;
    margin-right: auto;
    margin-left: auto; 
    margin-top:490px;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 8px 0px #7f8fa6;
    -moz-box-shadow: 0px 0px 8px 0px #7f8fa6;
    box-shadow: 0px 0px 8px 0px #7f8fa6;
}





/*********************************
         CONTACT FORM 
*********************************/



.contact-box {
    margin-top: 0px;
    float: right;
    height: 444px;
    width: 55%;
    background-color: #222222;  
}


.contact-box p{ 
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 16px;
    line-height: 0.87;
    font-weight: 200;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    padding-top: 0;
}


#form-left {
    float: right;
    width: 45%;
    height: 444px;
}

#form-right {
    clear: left;
    width: 55%;
    height: 444px;
}
  
form {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 200;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}


input[type=text] {
  width: 80%;
  padding: 5px 5px;
  margin: 7px 0;
  box-sizing: border-box;
}

input[type=email] {
    width: 80%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

.newsletter input[type=text] {
    width: 25%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}
  








/*********************************
      ITEM CONTAINERS
*******************************/










#product_container {
    width: 100%;
    text-align: center;
}


#product_container h1 {
    font-family: 'Jaldi', sans-serif;
    background-color: #FFD14F; 
    display: block;
    font-size: 2rem;
    color: #222222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:600;
}

#product_container h2 {
    font-family: 'Roboto', sans-serif;
    background-color: #FFD14F; 
    font-size: 1.6rem;
    line-height: 1.8rem;
    display: block;
    color: #222;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-weight:300;
}


.product_holder {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-block;
    width: 29%;
    padding:10px;
    height: 200px;
}


.product_holder h1 {
        font-family: 'Roboto', sans-serif;
        background-color: #FFD14F; 
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 27px
}


.product_holder h2 {
        font-family: 'Roboto', sans-serif;
        background-color: #FFD14F; 
        display: block;
        color: #222222;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 23px
}

.product_holder p {
        font-family: 'Roboto', sans-serif;
        display: block;
        color: #222222;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px
}




.product_holderIm {
        width: 80%; 
        height:200px;
        margin-left: auto; 
        margin-right: auto; 
        display: block;
}


.itemDesc {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
     margin-top: 20px;
    display: inline-block;
    width: 55%;
    padding:15px;
    height: 70%;
    background-color: #fff;
}

.itemDesc h1 {
        font-family: 'Jaldi', sans-serif;
        display: block;
        color: #4CAF50;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px
}

.itemDesc p {
        display: block;
        color: #222222;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 19px;
        font-family: 'Roboto Condensed', Sans-Serif;
        font-style: normal;
        font-weight: 200;
}

.itemDescIm {
        width: 45%;
        margin-left: auto; 
        margin-right: auto; 
        display: block;
}




/*********************************
SHOW ITEM  <% Static_pages %>
*********************************/


.show_item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    width: 70%;
    padding:10px;
    min-height: 300px;
}

.show_item p  {
        text-align: center;
        width: 70%;
        padding:10px;
        font-family: 'Roboto Condensed', Sans-Serif;
        font-size: 16px;
        line-height: 1.85;
        font-weight: 300;
        color: #222222;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
  
.showIm {
        width: 70%; 
        height:auto;
        margin-left: auto; 
        margin-right: auto; 
        display: block;
}










input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #222222;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit] {
    font-family: 'Roboto', sans-serif;
    background-color: #FFD14F;
    border: none;
    color: #222222;
    font-weight: 300;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:#FFD14F;
}





#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
}

#customers tr {
        background-color: #f2f2f2;
  
}

#customers tr:hover {
        background-color: #ddd;
  
}

#customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #222222;
        color: white;
}










/*********************************
6. TESTIMONIAL
*******************************/









/*----------------------
----- Footer Styles ----
------------------------*/
.footer {
clear:both;
  position:relative;
  height: 170px;
  margin-top: 1480px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 1.87;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
 

}



#container-l{
  
  width:50%;
  height:100%;
  overflow: hidden;
  background: #222222;
  float: left;
}

#container-r{
  
  width: 50%;
  height:100%;
  overflow: hidden;
  background: #222222;
 float: right;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  

}

.field {
    font-weight: 600;
    font-size: 16px;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
    
}

 /*
 *= require_tree .
 *= require_self
 */
